body{ 
font-family:Yanone Kaffeesatz;
background: -webkit-linear-gradient(#d1dbbd,#fcfff5,#d1dbbd);
    background-color:transparent;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:#3e606f;
	text-shadow:1px 1px white;
	overflow:hidden;
}
.tool{
  display:none;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  -webkit-border-radius: 5px;
  border:transparent;
  text-shadow: 2px 2px 1px #04446e;
  font-family: Lobster Two;
  color: #ffffff;
  font-size: 24px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}
.romLink:hover{cursor:pointer}
.tool:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  text-decoration: none;}
.tool:active{
	background:-webkit-linear-gradient(top, #3498db,#3cb0fd);
	background-color:#3cb0fd;
}
.header{
	font-size:60px;
	margin-left:30%;
	font-family:Lobster Two;
	color:#193441;
	   }
.version{
	margin-left:10%;
	font-family:Open Sans Condensed;
	font-weight:thin;
	   }
.menu{
    float:left;
	font-size:25px;
	font-family:Josefin Slab;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	width:100px;
	margin-left:-20px;
	padding-top:15px;
	padding-bottom:15px;
	border-radius:15px;
	    color:white;
	text-shadow:1px 1px black;
	 }
.menuWrap{
	    color:white;
	text-shadow:1px 1px black;
         }
.contentWrap{
    width:70%;
	float:left;
	margin-top:20px;
	padding:10px;
	        }
.content{
    margin-left:20px;
	margin-bottom:10px;
	overflow:auto;
	height:550px;
    text-indent:40px;
	min-height:100px;
	position:relative;
	font-family:Muli;
	line-height: 180%;
	width:100%;
	    }
.console{
	text-align:center;
	margin-bottom:20px;
	color:#91aa9d;
	font-family:Source Code Pro;
	font-size:15px;
	    }
.toggle{
    display:none;
	font-size:20px;
	margin-top:-5px;
	margin-bottom:-5px;
		    color:white;
	text-shadow:1px 1px black;
	   }
.detector{
    float:left;
	text-align:center;
	margin-left:10%;
	color:red;
	font-family:Source Code Pro;
	     }
ul{
    list-style-type:none;
  }
a:link{
	    color:white;
	text-shadow:1px 1px black;
	text-decoration:none;
                 }
a:visited{
    color:#3e606f;
	text-decoration:none;
                 }
a:hover{
    color:#3498db;
	text-decoration:none;
	text-shadow:1px 1px black;
                 }
a:active{
    color:white;
	text-decoration:none;
                 }
.oneBtn{
   margin-left:40%;
       }