body{ 
font-family:Open Sans Condensed;
background: -webkit-linear-gradient(#d1dbbd,#fcfff5,#d1dbbd);
    background-color:transparent;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:#3e606f;
	text-shadow:1px 1px white;
}

.tool {
  display:none;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border:transparent;
  text-shadow: 2px 2px 1px #04446e;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}
.romLink:hover{cursor:pointer}
.tool:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  text-decoration: none;}
.tool:active{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background-color:#fb9e25;
}
.header{
	font-size:60px;
	margin-left:30%;
	font-family:Josefin Slab;
	font-weight:100;
	color:#193441;
	   }
.version{
	margin-left:10%;
	font-family:Josefin Slab;
	font-weight:thin;
	   }
.menu{
    float:left;
	font-size:25px;
	font-family:Share;
	 }
.contentWrap{
    width:70%;
	float:left;
	margin-top:20px;
	padding:10px;
	        }
.content{
    margin-left:20px;
	margin-bottom:10px;
	overflow:auto;
    text-indent:50px;
	min-height:300px;
	max-height:80%;
	font-family:Muli;
	line-height: 140%;
	    }
.console{
	text-align:center;
	margin-bottom:20px;
	color:#91aa9d;
	font-family:Source Code Pro;
	font-size:15px;
	    }
.toggle{
    display:none;
	font-size:20px;
	margin-top:-5px;
	margin-bottom:-5px;
	   }
.detector{
    float:left;
	text-align:center;
	margin-left:10%;
	color:red;
	font-family:Source Code Pro;
	     }
ul{
    list-style-type:none;
  }
a:link{
    color:#3e606f;
	text-decoration:none;
                 }
a:visited{
    color:#3e606f;
	text-decoration:none;
                 }
a:hover{
    color:#3498db;
	text-decoration:none;
	text-shadow:1px 1px black;
                 }
a:active{
    color:white;
	text-decoration:none;
                 }
.oneBtn{
   margin-left:40%;
       }